# =========================
# PYTHON
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3

# =========================
# ENTORNOS VIRTUALES
# =========================
venv/
.venv/
env/

# =========================
# VARIABLES DE ENTORNO (IMPORTANTE)
# =========================
.env
.env.*
!.env.example

# =========================
# CACHE / TEST
# =========================
.pytest_cache/
.coverage
htmlcov/

# =========================
# LOGS
# =========================
*.log

# =========================
# IDE / EDITORES
# =========================
.vscode/
.idea/
*.swp
*.swo

# =========================
# SISTEMA
# =========================
.DS_Store
Thumbs.db

# =========================
# DOCKER (solo temporales, NO configs)
# =========================
docker-compose.override.yml

# =========================
# OTROS
# =========================
*.pid